################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
/.vs
/Log
/packages
/Data
Content/
Config/
Plugins/
*.log
*.user
/Test
/xLink.Master/Master数据字典.htm
/xLink.Device/Device数据字典.htm
set.config
/Client
/Server
/Avatars
/BinServer
/BinClient
