<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Vsd" connectionString="Data Source=..\Data\Vsd.db" providerName="Sqlite"/>
    <add name="Log" connectionString="Data Source=..\Data\Log.db" providerName="Sqlite"/>
    <add name="Membership" connectionString="Data Source=..\Data\Membership.db" providerName="Sqlite"/>
  </connectionStrings>
</configuration>