@using NewLife;
@using NewLife.Web;
@using NewLife.Cube;
@using XCode;
@using WiFi.Entity;
@{
    var fact = ViewBag.Factory as IEntityOperate;
    var page = ViewBag.Page as Pager;
}
<div class="form-group">
    <label for="kind" class="control-label">类型：</label>
    @Html.ForDropDownList("Kind", System.EnumHelper.GetDescriptions(typeof(DeviceKinds)), page["Kind"], "全部", true)
</div>
